---
http_interactions:
- request:
    method: get
    uri: https://api.bgpview.io/asn/-1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"error","status_message":"Could not find ASN","@meta":{"time_zone":"UTC","api_version":1,"execution_time":"8.77
        ms"}}'
  recorded_at: Fri, 20 Sep 2019 23:59:34 GMT
recorded_with: VCR 5.0.0
