---
http_interactions:
- request:
    method: get
    uri: https://api.bgpview.io/asn/2515
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"asn":2515,"name":"APNIC-AS-X-BLOCK","description_short":"Asia
        Pacific Network Information Centre","description_full":["Asia Pacific Network
        Information Centre"],"country_code":"AU","website":null,"email_contacts":[],"abuse_contacts":[],"looking_glass":null,"traffic_estimation":"20-100Mbps","traffic_ratio":"Mostly
        Outbound","owner_address":["PO Box 3646","South Brisbane","QLD","4101","AU"],"rir_allocation":{"rir_name":null,"country_code":null,"date_allocated":null,"allocation_status":"assigned"},"iana_assignment":{"assignment_status":"assigned","description":"Assigned
        by ARIN","whois_server":"whois.arin.net","date_assigned":null},"date_updated":"2019-08-27
        21:45:26"},"@meta":{"time_zone":"UTC","api_version":1,"execution_time":"73.85
        ms"}}'
  recorded_at: Sat, 31 Aug 2019 09:29:15 GMT
recorded_with: VCR 5.0.0
