---
http_interactions:
- request:
    method: get
    uri: https://api.bgpview.io/asn/7511
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"asn":7511,"name":"SYNAPSE","description_short":"SYNAPSE
        Co.,Ltd.","description_full":["SYNAPSE Co.,Ltd."],"country_code":"JP","website":"https:\/\/www.synapse.jp","email_contacts":[],"abuse_contacts":[],"looking_glass":null,"traffic_estimation":"5-10Gbps","traffic_ratio":"Mostly
        Inbound","owner_address":[],"rir_allocation":{"rir_name":null,"country_code":null,"date_allocated":null,"allocation_status":"assigned"},"iana_assignment":{"assignment_status":"assigned","description":"Assigned
        by APNIC","whois_server":"whois.apnic.net","date_assigned":null},"date_updated":"2019-08-27
        21:46:38"},"@meta":{"time_zone":"UTC","api_version":1,"execution_time":"75.44
        ms"}}'
  recorded_at: Wed, 04 Sep 2019 03:34:21 GMT
recorded_with: VCR 5.0.0
