---
http_interactions:
- request:
    method: get
    uri: https://api.bgpview.io/asn/7511/downstreams
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"ipv4_downstreams":[{"asn":7517,"name":"MII","description":"ICOMT
        Inc.","country_code":"JP"},{"asn":45687,"name":"MCT-Internet","description":"Minamikyusyu
        CableTV Net Inc.","country_code":"JP"}],"ipv6_downstreams":[]},"@meta":{"time_zone":"UTC","api_version":1,"execution_time":"8.67
        ms"}}'
  recorded_at: Wed, 04 Sep 2019 06:23:01 GMT
recorded_with: VCR 5.0.0
