---
http_interactions:
- request:
    method: get
    uri: https://api.bgpview.io/asn/7511/peers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"ipv4_peers":[{"asn":7514,"name":"MEX","description":"Computer
        Engineering & Consulting, Ltd.","country_code":"JP"},{"asn":8220,"name":"COLT","description":"COLT
        Technology Services Group Limited","country_code":"GB"},{"asn":17676,"name":"GIGAINFRA","description":"Softbank
        BB Corp.","country_code":"JP"},{"asn":45687,"name":"MCT-Internet","description":"Minamikyusyu
        CableTV Net Inc.","country_code":"JP"},{"asn":24482,"name":"SGGS-AS-AP","description":"SG.GS","country_code":"SG"},{"asn":7517,"name":"MII","description":"ICOMT
        Inc.","country_code":"JP"},{"asn":4637,"name":"ASN-TELSTRA-GLOBAL","description":"Telstra
        Global","country_code":"HK"},{"asn":6939,"name":"HURRICANE","description":"Hurricane
        Electric LLC","country_code":"US"},{"asn":23815,"name":"JPIX-RS","description":"Japan
        Internet Exchange Co., Ltd.","country_code":"JP"},{"asn":64050,"name":"BCPL-SG","description":"BGPNET
        Global ASN","country_code":"SG"}],"ipv6_peers":[{"asn":6939,"name":"HURRICANE","description":"Hurricane
        Electric LLC","country_code":"US"},{"asn":7514,"name":"MEX","description":"Computer
        Engineering & Consulting, Ltd.","country_code":"JP"},{"asn":24482,"name":"SGGS-AS-AP","description":"SG.GS","country_code":"SG"},{"asn":17676,"name":"GIGAINFRA","description":"Softbank
        BB Corp.","country_code":"JP"},{"asn":8220,"name":"COLT","description":"COLT
        Technology Services Group Limited","country_code":"GB"},{"asn":18403,"name":"FPT-AS-AP","description":"The
        Corporation for Financing & Promoting Technology","country_code":"VN"}]},"@meta":{"time_zone":"UTC","api_version":1,"execution_time":"8.99
        ms"}}'
  recorded_at: Wed, 04 Sep 2019 03:34:23 GMT
recorded_with: VCR 5.0.0
