---
http_interactions:
- request:
    method: get
    uri: https://api.bgpview.io/asn/7511/prefixes
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"ipv4_prefixes":[{"prefix":"103.53.120.0\/22","ip":"103.53.120.0","cidr":22,"roa_status":"None","name":"SYNAPSE-CIDR-BLK-JP","description":"SYNAPSE
        Co.,Ltd.","country_code":"JP","parent":{"prefix":"103.53.120.0\/22","ip":"103.53.120.0","cidr":22,"rir_name":"APNIC","allocation_status":"unknown"}},{"prefix":"110.92.32.0\/19","ip":"110.92.32.0","cidr":19,"roa_status":"None","name":"SYNAPSE-CIDR-BLK-JP","description":"SYNAPSE
        Co.,Ltd.","country_code":"JP","parent":{"prefix":"110.92.32.0\/19","ip":"110.92.32.0","cidr":19,"rir_name":"APNIC","allocation_status":"unknown"}},{"prefix":"124.146.64.0\/19","ip":"124.146.64.0","cidr":19,"roa_status":"None","name":"SYNAPSE-CIDR-BLK-JP","description":"SYNAPSE
        Co.,Ltd.","country_code":"JP","parent":{"prefix":"124.146.64.0\/1[...]
