---
http_interactions:
- request:
    method: get
    uri: https://api.bgpview.io/asn/2515/upstreams
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"ipv4_upstreams":[{"asn":2518,"name":"APNIC-AS-X-BLOCK","description":"Asia
        Pacific Network Information Centre","country_code":"AU"},{"asn":2497,"name":"IIJ","description":"Internet
        Initiative Japan Inc.","country_code":"JP"},{"asn":7514,"name":"MEX","description":"Computer
        Engineering & Consulting, Ltd.","country_code":"JP"}],"ipv6_upstreams":[{"asn":2518,"name":"APNIC-AS-X-BLOCK","description":"Asia
        Pacific Network Information Centre","country_code":"AU"},{"asn":2497,"name":"IIJ","description":"Internet
        Initiative Japan Inc.","country_code":"JP"}],"ipv4_graph":"https:\/\/api.bgpview.io\/assets\/graphs\/AS2515_IPv4.svg","ipv6_graph":"https:\/\/api.bgpview.io\/assets\/graphs\/AS2515_IPv6.svg","combined_graph":"https:\/\/api.bgpview.io\/assets\/graphs\/AS2515_Combined.svg"},"@meta":{"time_zone":"UTC","api_version":1,"execution_time":"8.92
        ms"}}'
  recorded_at: Sat, 31 Aug 2019 09:29:16 GMT
recorded_with: VCR 5.0.0
