---
http_interactions:
- request:
    method: get
    uri: https://api.bgpview.io/asn/7511/upstreams
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"ipv4_upstreams":[{"asn":7514,"name":"MEX","description":"Computer
        Engineering & Consulting, Ltd.","country_code":"JP"},{"asn":17676,"name":"GIGAINFRA","description":"Softbank
        BB Corp.","country_code":"JP"}],"ipv6_upstreams":[{"asn":7514,"name":"MEX","description":"Computer
        Engineering & Consulting, Ltd.","country_code":"JP"},{"asn":17676,"name":"GIGAINFRA","description":"Softbank
        BB Corp.","country_code":"JP"}],"ipv4_graph":"https:\/\/api.bgpview.io\/assets\/graphs\/AS7511_IPv4.svg","ipv6_graph":"https:\/\/api.bgpview.io\/assets\/graphs\/AS7511_IPv6.svg","combined_graph":"https:\/\/api.bgpview.io\/assets\/graphs\/AS7511_Combined.svg"},"@meta":{"time_zone":"UTC","api_version":1,"execution_time":"68.99
        ms"}}'
  recorded_at: Wed, 04 Sep 2019 03:34:22 GMT
recorded_with: VCR 5.0.0
